.about{
height:100vh;
width:100vw;
scroll-margin-top:140px;
display:flex;
overflow: hidden;
}
.leftabout{
    height:100%;
    width:50%;
    position: relative;
    top:110px;
    right:70px
}
.aboutdetail{
    display:flex;
    justify-content: center;
    align-items: center;
}
.personalinfo{
    position:absolute;
    top:1%;
    transform:translateX(60%);
}
.detail{
    transform:translateY(20px)
}
.circle-line{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    transform:translateX(-50px)

}

.circle{
    width:60px;
    height:60px;
    border-radius: 50px;
    background-color: rgb(34, 198, 206);
    box-shadow: 3px 3px 29px rgb(151, 204, 207);

}
.line{
    height:70px;
    width:3px;
    background-color: rgb(199, 220, 222);
    box-shadow: 3px 3px 19px rgb(151, 204, 207);
}
.headline{
   background: linear-gradient(to right, #d77774, #f7cdff);
    background-clip:text;
    color: transparent;
    font-size:25px;
    margin:12px 0 0 0;
}

.namehold{
    color:rgb(22, 202, 196)
}
.personalinfo ul{
    font-size: 10px;
}
span{
    color:rgb(214, 236, 237);
}
#headline1, .left{
    transform:translateY(-40px);
}
 #skill, #skill1{
    transform:translateY(25px);
}


.rightabout{
    margin-top:50px;
    height:100%;
    width:50%;
    height:100vh;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
  
}
.rightabout img{
    transform:translateY(-23%) ;
    height:300px;
    width:300px;
    border-radius:50%;
    filter:drop-shadow(2px 2px 20px rgb(146, 219, 223)) 
} 
#descript{
    margin:60px;
    background:linear-gradient(to right, #d77774, #f7cdff);
     background-clip:text;
    color: transparent;
    position:absolute;
    top:160%;
    
}  

@media (max-width:750px){
  .about{
    flex-direction:column;
    height:auto;
    padding-bottom:10px;
    align-items:center;
  }
  .rightabout{
    width:100vw;
    height:auto;
    transform:translateY(0);
    margin-top:80%;

  }
}