@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
*{
  font-family:siara,sans-serif;
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  background-color:#040d1a;
  
}
a{
  cursor:pointer;
}



