nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
    width:100%;
    padding:20px;
    position:fixed;
    z-index: 20;
    background-color:#040d1a;
}
nav ul a{
  cursor: pointer;
 
}
nav ul a:hover{
  color:rgb(167, 223, 230);
  border-bottom:2px  #f2fafb;
}
.active{
  color:rgb(167, 223, 230);
  border-bottom:2px solid #f2fafb;
}
nav ul{
  color:#f2fafb;
  list-style:none;
  display:flex;
  gap:20px;
  margin-right:10px;
  font-size: 20px;
  
}
nav h1{
    font-size:35px;
    color: #87ceda;
    background: linear-gradient(to right, #87ceda, #f7cdff);
    background-clip:text;
    color: transparent;
}   


.hamburger{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:5px;
  flex-direction: column;
  display:none;
 
}
.ham{
  width:30px;
  height:2px;
  background-color: white;
}

.mobilemenu{
  display:flex;
  align-items:center;
  justify-content: center;
  gap:50px;
  font-size:25px;
  background:transparent;
   position:absolute;
   top:80px;
   height:100vh;
   width:100%;
   background-color: #6889b453;
   backdrop-filter:blur(8px);
   right:0;
   transform: translateX(100%);
   flex-direction: column;
   transition:all 0.8s;
}

.activemobile{
  transform: translateX(0%)
}

@media(max-width:750px){
    .desktopmenu{
      display:none;
    }
    .hamburger{
      display:flex;
    }
}



/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 20;
  background-color: #040d1a;
  overflow: hidden;
}

nav ul a {
  cursor: pointer;
}

nav ul a:hover {
  color: rgb(167, 223, 230);
  border-bottom: 2px #f2fafb;
}

.active {
  color: rgb(167, 223, 230);
  border-bottom: 2px solid #f2fafb;
}

nav ul {
  color: #f2fafb;
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 10px;
  font-size: 20px;
}

nav h1 {
  font-size: 35px;
  background: linear-gradient(to right, #87ceda, #f7cdff);
  background-clip: text;
  color: transparent;
} */
/* 

.hamburger {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.ham {
  width: 30px;
  height: 2px;
  background-color: white;
}
.mobilemenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 25px;
  position: absolute;
  top: 80px;
  height: 100vh;
  width: 100%;
  background-color: #6889b453;
  backdrop-filter: blur(8px);
  right: 0;
  transform: translateX(100%);
  flex-direction: column;
  transition: all 0.8s;
}

.activemobile {
  transform: translateX(0%);
} */

/* @media (max-width: 750px) {
  .desktopmenu {
    display: none;
  }

  .hamburger {
    display: flex;
  }
} */
